<table class="table table-sm table-striped table-bordered table-condensed faa-table">
    <thead>
        <tr>
            <th data-toggle="tooltip" title="Unique vehicle identification">Drone ID</th>
            <th data-toggle="tooltip" title="Vehicle model identification">UAS Model</th>
            <th data-toggle="tooltip" title="Local time stamp at the start of a flight">Start Hours</th>
            <th data-toggle="tooltip" title="Local time stamp at the end of a flight">End Hours</th>
            <th data-toggle="tooltip" title="Calculated time span of the flight">Flight Duration</th>
            <th data-toggle="tooltip" title="<div>Tolerance criteria for Pass/Fail is:<ul><li>Aircraft follows predefined altitudes (+/- 10 ft)</li><li>Aircraft follows predefined flight track (+/- 10 ft)</li><li>Aircraft follow predefined speeds (+/- 2.5 mi/hr)</li><li>Aircraft lands at designated point (+/- 10 ft)</li></ul></div>">Flight Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ vehicle_uuid }}</td>
            <td>H520-G</td>
            <td><time datetime="{{ start_time_str }}">{{ start_time_str }}</time></td>
            <td><time datetime="{{ start_time_str }}">{{ end_time_str }}</time></td>
            <td>{{ duration }}</td>
            <td>{{ rating }}</td>
        </tr>
    </tbody>
</table>



<section class="faa-info">
    <dl class="left">
        <dt>Description</dt>
        <dd>{{ description }}</dd>
        <dt data-toggle="tooltip" title="Accumulated hours of vehicle in use">Total Airframe Hours</dt>
        <dd>{{ flight_time_str }}</dd>
        <dt>Flight Conditions</dt>
        <dd>{{ feedback|replace('\n', '<br/>') }}</dd>
    </dl>

    <section class="right">
        <dl>
{% if distance['Max Altitude Difference'] %}
            <dt data-toggle="tooltip" data-placement="left" title="Maximum flight altitude above ground level">Max AGL</dt>
            <dd>{{ "%.0f"|format(distance['Max Altitude Difference'] * 3.28084) }} ft</dd>
{% endif %}
{% if distance['Max Global Altitude'] %}
            <dt data-toggle="tooltip" data-placement="left" title="Maximum flight altitude above sea level">Max MSL</dt>
            <dd>{{ "%.0f"|format(distance['Max Global Altitude'] * 3.28084) }} ft</dd>
{% endif %}
            <dt data-toggle="tooltip" data-placement="left" title="Accumulated flight distance">Distance Flown</dt>
{% if distance['Absolute'] / 1609.34 > 1 %}
            <dd>{{ "%.2f"|format(distance['Absolute'] / 1609.34) }} mi</dd>
{% else %}
            <dd>{{ "%.1f"|format(distance['Absolute'] * 3.28084) }} ft</dd>
{% endif %}
        </dl>
        <dl>
{% if speed['Average Speed'] %}
            <dt data-toggle="tooltip" data-placement="left" title="Average speed during flight">Avg Speed</dt>
            <dd>{{ "%.1f"|format(speed['Average Speed'] * 2.2369) }} mph</dd>
{% endif %}
{% if speed['Average Speed MC'] %}
            <dt data-toggle="tooltip" data-placement="left" title="Average speed during flight (multi copter)">Avg Speed MC</dt>
            <dd>{{ "%.1f"|format(speed['Average Speed MC'] * 2.2369) }} mph</dd>
{% endif %}
{% if speed['Average Speed FW'] %}
            <dt data-toggle="tooltip" data-placement="left" title="Average speed during flight (fixed wing)">Avg Speed FW</dt>
            <dd>{{ "%.1f"|format(speed['Average Speed FW'] * 2.2369) }} mph</dd>
{% endif %}
            <dt data-toggle="tooltip" data-placement="left" title="Maximum speed during flight">Max Speed</dt>
            <dd>{{ "%.1f"|format(speed['Max Speed'] * 2.2369) }} mph</dd>
            <dt data-toggle="tooltip" data-placement="left" title="Maximum horizontal speed during flight">Max Speed Horz</dt>
            <dd>{{ "%.1f"|format(speed['Max Speed Horizontal'] * 2.2369) }} mph</dd>
            <dt data-toggle="tooltip" data-placement="left" title="Maximum vertical accent speed during flight">Max Speed Up</dt>
            <dd>{{ "%.1f"|format(speed['Max Speed Up'] * 2.2369) }} mph</dd>
            <dt data-toggle="tooltip" data-placement="left" title="Maximum vertical decent speed during flight">Max Speed Down</dt>
            <dd>{{ "%.1f"|format(speed['Max Speed Down'] * 2.2369) }} mph</dd>
        </dl>
        <dl>
            <dt data-toggle="tooltip" data-placement="left" title="Average amperage drawn from the battery during flight">Avg Current</dt>
            <dd>{{ "%.1f"|format(current['Average Current']) }} A</dd>
            <dt data-toggle="tooltip" data-placement="left" title="Maximum amperage drawn from the battery during flight">Max Current</dt>
            <dd>{{ "%.1f"|format(current['Max Current']) }} A</dd>
        </dl>
    </section>
</section>

<script>
{
    // display times in local timezone
    var times = document.querySelectorAll('time[datetime]');
    for (var i = 0; i < times.length; i += 1) {
        times[i].innerText = new Date(times[i].getAttribute('datetime')).toLocaleString();
    }
}
</script>